.text-neon {
  color: #39ff14;
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.bg-neon {
  background: #39ff14;
}

.hover\:shadow-neon:hover {
  box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 40px #39ff14;
}
